/* After you've linked the CSS file in the HTML,
this should turn the background blue ;) */
body {
  background: blue;
}

*{ box-sizing: border-box; margin: 0; padding: 0; }
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #333;
}

/* HERO SECTION */
.hero {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.hero-image {
  width:40%;
  height: 40%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 40%;
  transform: translateY(-40%);
}
/* remember 1 rem = 16 px*/
.hero-text h1 { font-size: 2.5rem; margin-bottom: 0.5rem; }
.hero-text p { font-size: 1.2rem; margin-bottom: 1rem; }

/* Button */
.btn {
  background: #1e6b4e;
  color: white;
  padding: 0.7rem 1.4rem;
  text-decoration: none;
  border-radius: 5px;
}

/* ABOUT SECTION */
.about {
  padding: 2rem;
  text-align: center;
  background: #fafafa;
}

/* SIGNUP FORM */
.signup {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, button {
  padding: 0.7rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.btn {
  background: #1e6b4e;
  color: white;
  border: none;
}

button.btn:hover {
  background: #289e6b;
}

/* RESPONSIVE? for mobile and pad */
@media (max-width: 768px) {
  .hero-text h1 { font-size: 1.8rem; }
  .hero-text p { font-size: 1rem; }
}
/* CSS can be refined to look better */